* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --fundo-azul: #2a5298;
    --amarelo: #f1b83a;
    --azul-escuro: #0d4b8a;
    --cinza-claro: #ececec;
}

.azul {
    background-color: var(--fundo-azul);
    color: white;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 50px;
    list-style: none;
    margin-right: 30px;
}

.menu-link {
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding-bottom: 10px;
}

.menu-link:hover {
    border-bottom: 2px solid white;
}

.titulo-site {
    text-decoration: none ;
    color: white;
}


.bloco-login {
    padding-left: 50px;
}

.titulo-comentario {
    color: var(--amarelo);
    font-weight: bold;
    margin-bottom: 5px;
}

.botoes {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.botao-login {
    background-color: var(--azul-escuro);
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: bold;
    border-radius: 5px;

}

.botao-animado {
    transition: transform .2s ease-in-out;
}

.botao-animado:hover {
    transform: scale(1.1);
}

.img-perfil {
    width: 30px;
    height: 30px;
    object-fit: contain;
}



.titulo {
    color: var(--amarelo);
    margin-bottom: 30px;
    font-weight: bold;
}

.texto {
    text-align: justify;
}

.conteiner-img {
    text-align: center;
}

.img-inicial {
    max-width: 100%;
    height: auto;
}

.conteiner-main {
    margin: 60px;
}

.quadrado-carrossel {
    background-color: rgb(199, 225, 247);
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bolinha-slide {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    background-color: #2a5298 !important;
    border: none !important;
}

.carousel-indicators .active.bolinha-slide {
    background-color: #2a5298;
}

#carrossel {
    margin: 20px;
}

@media (max-width: 768px) {
    .navbar {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
        justify-content: space-between !important;
    }

    h1 {
        order: 1;
    }

    .navbar>a {
        order: 2;
    }

    .menu {
        order: 3;
        width: 100%;
        justify-content: center;
        margin-right: 0;
        margin-top: 15px;
        gap: 20px;
    }
}


/* INDEX -> perguntas frequentes*/

.perguntas-frequentes {
    margin-top: 60px;
  
}

.perguntas-frequentes h1{
    font-size: 30px;
    margin-bottom: 30px;
    color: var(--amarelo);
    font-weight: bold;

}

.faq {
    width: 100%;
    list-style: none;
}

.faq li {
    width: 100%;
    margin-bottom: 10px;
}

.faq li label {
    padding: 15px 10px;
    font-size: 18px;
    font-weight: 500;
    background-color: var(--cinza-claro);
    color: var(--fundo-azul);

    cursor: pointer;

    display: flex;
    align-items: center;
}

.faq li label span {
    display: inline-block;
    padding: 8px;
    background-color: var(--fundo-azul);
    color: white;
    font-weight: bold;
    border-radius: 8px;
    margin-right: 10px;
}

.faq li label::before {
    content: '+';
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
}



.faq input[type=radio]{
    display: none;
}

.faq .resposta {
    color: black;
    background-color: var(--cinza-claro);
    padding: 0px 14px;
    line-height: 32px;
    max-height: 0px;
    overflow: hidden;
}

.faq input[type=radio]:checked + label + .resposta {
    max-height: 400px;
    padding: 10px 10px 20px;
    transition: max-heigth .5s, padding .5s;
}

.faq input[type=radio]:checked + label::before {
    content: '-';
}

.faq input[type=radio]:checked + label span{
    background-color: var(--amarelo);
}


.login {
    min-height: 100vh;
    background: linear-gradient(to bottom, #2a5298 0%, #6e8bc0 100%);
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.caixa-login {
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 15px;
    padding: 70px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
}

.titulo-login {
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.bloco-input {
    margin-bottom: 20px;
}

.texto-input {
    width: 100%;
    border: none;
    padding: 12px 15px 12px 55px;
    border-radius: 8px;
    color: #333;
    margin-top: 5px;
}

.linha-input {
    position: relative;
    display: flex;
    align-items: center;
}

.img-icone {
    width: 22px;
}

.icone {
    position: absolute;
    left: 15px;
}

.login-submit {
    text-align: center;
    margin-top: 5px;
}

.botao-submit {
    background-color: var(--azul-escuro);
    color: white;
    border: none;
    padding: 12px 60px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

.botao-voltar {
    text-align: center;
    margin-top: 20px;
}

.link-voltar {
    color: white;
    text-decoration: underline;
}

.link-mudar-tela {
    color: var(--amarelo);
    text-decoration: none;
}

.link-mudar-tela .decoracao-login {
    color: var(--amarelo);
    text-decoration: underline;
    font-weight: bolder;
}

.conteiner-perfil {
    margin: 40px auto;
    display: flex;
    justify-content: center;
}

.caixa-perfil {
    background-color: var(--fundo-azul);
    border-radius: 15px;
    padding: 40px 60px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.500);
    color: white;
}

.topo-caixa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.caixa-usuario {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

.modo-noturno {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.texto-modo-noturno {
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    font-size: small;
}

.img-icone-perfil {
    width: 80px;
    height: 80px;
}

.texto-usuario h4 {
    font-weight: bold;
    margin: 0;
}

.texto-usuario p {
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.7);
}

.bloco-perfil {
    margin-bottom: 30px;
}

.label-perfil {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.input-perfil {
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    color: #444;
    font-weight: bold;
}