* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --fundo-azul: #2a5298;
    --amarelo: #f1b83a;
}

.azul {
    background-color: var(--fundo-azul);
    color: white;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 50px;
    list-style: none;
    margin-right: 30px;
}

.menu-link {
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding-bottom: 25px;
}

.img-perfil {
    width: 100%;
    height: 40px;
}

.ativo {
    border-bottom: 2px solid white;
}

.titulo {
    color: var(--amarelo);
    margin-bottom: 30px;
    font-weight: bold;
}

.texto {
    text-align: justify;
}

.conteiner-img {
    text-align: center;
}

.img-inicial {
    max-width: 100%;
    height: auto;
}

.conteiner-main {
    margin: 60px;
}

.quadrado-carrossel {
    background-color: rgb(199, 225, 247);
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bolinha-slide {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    background-color: #2a5298 !important;
    border: none !important;
}

.carousel-indicators .active.bolinha-slide {
    background-color: #2a5298;
}

#carrossel {
    margin: 20px;
}
